body{
    background-color: #121212;   
}

#site-logo{
    width: 120px;
    height: auto;
}

.content{
    position: relative;
    top: 20px;
    color:white;
}

#gif-pacman{

    display:block;
    margin:0 auto;
    width:70px;
    height:70px;
}

.div-sliders{

    margin-right:10px;
}

#rodape {
    width: 100%;
    background-color: #f8f9fa;
    margin-top: 14%;
    color: #555555;
    padding-top: 1%;
    height: 150px;
    text-align: center;
}

.caption-banner{
    background-color: rgba(0,0,0,.5);
    transition: .2s ease;
    bottom: 0!important;
    left:0!important;
}

#video-cover{
    width: 100%;
}

.hero-video-bg{
    opacity: 0.8;
}


#phrase-video-welcome{

    font-size:2rem;margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#carousel{

    position: relative;
    bottom: 6px;
}

/* Rating Star Widgets Style */
.rating-stars ul {
    list-style-type:none;
    padding:0;
    -moz-user-select:none;
    -webkit-user-select:none;
}
.rating-stars ul > li.star {
    display:inline-block;
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
    font-size:1.5em; /* Change the size of the stars */
    color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
    color:#ffe059!important;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
    color:#fde600!important;
}

#fix-btn{
    position: absolute;
    left: 175px;
    bottom: 10px;
}

.img-correction{

    max-width: 350px;
}

@media only screen and (max-width: 768px) {

    .img-pagination-medias{
        min-width:60px;
        min-height:60px;
    }

    #div-info-rank{
        position: relative;
        left:10px;
    }
    
    .div-sliders{

        margin-right:30px;
    }

    .img-correction{

        width: 300px!important;
    }

    #phrase-video-welcome{

        top: 30%;
    }

    #paragraph-video-welcome{

        display: none;
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape){

    #phrase-video-welcome{

        top: 70%;
    }
}